$primary-color: #B8543D;
$primary-color-dark: darken($primary-color, 10%);
$primary-color-lighter: lighter($primary-color, 10%);
$secondary-color : #2384d4;
$secondary-color-dark: darken($secondary-color, 10%);
$secondary-color-lighter: lighter($secondary-color, 10%);
$dark-color: #1B1B1E;
$light-color: #ffffff;
$light-grey-color:#fcfcfc;